/*-----------------------------------------------------------------------------------*/
/*	3.0 Header
/*-----------------------------------------------------------------------------------*/

#desktop-navigation, 
.header-social, 
.search-open, 
.desktop-search, 
.sticky-header {
  display: none;
}

#site-branding {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 10;
}

.home.blog {
  &.headerimg-on.header-fullscreen #site-branding {
    position: absolute;
  }
}

.admin-bar {
  #site-branding, .inner-offcanvas-wrap {
    top: 46px;
  }
}

a.site-logo {
  display: none;
  line-height: 0;
}

.home a.site-logo {
  display: inline-block;
}

p.site-description {
  display: none;
}

.header-image {
  display: block;
  position: relative;
}

.custom-logo-wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: block;
  a.custom-logo-link img {
    max-width: 100px;
    max-height: 45px;
  }
}
