/*-----------------------------------------------------------------------------------*/
/*	3.0 Header
/*-----------------------------------------------------------------------------------*/

#desktop-navigation, .header-social, .search-open, .desktop-search, .sticky-header {
  display: none;
}

#site-branding {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 10;
}

.home.blog {
  &.slider-on.slider-fullscreen #site-branding, &.headerimg-on.header-fullscreen #site-branding {
    position: absolute;
  }
}

.admin-bar {
  #site-branding, .inner-offcanvas-wrap {
    top: 46px;
  }
}

a.site-logo {
  display: none;
  line-height: 0;
}

.home a.site-logo {
  display: inline-block;
}

p.site-description {
  display: none;
}

.header-image {
  display: block;
  position: relative;
}

.custom-logo-wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: block;
  a.custom-logo-link img {
    max-width: 100px;
    max-height: 45px;
  }
}

/* --- Main Menu --- */

#overlay-nav {
  display: block;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ddd;
    }
    ul li {
      margin: 0;
      padding: 5px 0;
      border-bottom: none;
    }
    li a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    ul {
      &.sub-menu, &.children {
        display: none;
        overflow: hidden;
        margin: 0;
        padding: 0 0 10px;
      }
      ul {
        &.sub-menu, &.children {
          margin: 0;
          border-top: none;
        }
      }
      li a {
        border-bottom: none;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: normal;
        line-height: 1.5;
        text-transform: none;
        letter-spacing: 0;
      }
    }
  }
}

/* --- Sub Menu Toggle --- */

.dropdown-toggle {
  border: none;
  outline: none;
}

#secondary .dropdown-toggle, #sidebar-offcanvas .widget-area .dropdown-toggle, #colophon .dropdown-toggle {
  display: none;
}

.menu-item-has-children, .page_item_has_children {
  position: relative;
}

.dropdown-toggle {
  position: absolute;
  top: 0;
  right: 5.3125%;
  width: 50px;
  height: 50px;
  background: transparent;
  &:after {
    vertical-align: top;
    position: absolute;
    content: '\f431';
    font: normal 24px/1 'Genericons';
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 13px 0 0 0;
    text-align: right;
  }
  &.toggle-on:after {
    content: "\f432";
  }
}

.sub-menu .menu-item-has-children .dropdown-toggle, .children .page_item_has_childrenn .dropdown-toggle:after {
  width: 30px;
  height: 30px;
}

.sub-menu .menu-item-has-children .dropdown-toggle:after, .children .page_item_has_children .dropdown-toggle:after {
  padding: 4px 0 0 0;
}

.screen-reader-text {
  position: absolute;
  left: -1000em;
}

#overlay-nav ul {
  &.sub-menu.toggled-on, &.children.toggled-on {
    display: block !important;
  }
}

/* --- Overlay - Mobile Social Menu --- */

#mobile-social {
  border-bottom: 1px solid #ddd;
  li {
    padding: 10px 0;
  }
}
