/*-----------------------------------------------------------------------------------*/
/* Main
/*-----------------------------------------------------------------------------------*/

main {
    position: relative;
    top: 59px;
    @media screen and (min-width: 1024px) {
              top: 0;
    }
}