/*-----------------------------------------------------------------------------------*/
/* Main
/*-----------------------------------------------------------------------------------*/

main {
    position: relative;
    top: 36px;
    
    @media screen and (min-width: $breakpoint-sm) {
              top: 46px;
    }
    @media screen and (min-width: 1024px) {
              top: 0;
    }
}