/*-----------------------------------------------------------------------------------*/
/*  Off Canvas Area
/*-----------------------------------------------------------------------------------*/
/* --- Main Menu Buttons (Off Canvas) --- */
.overlay-btn {
    border: none;
    outline: none;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 9999;
    text-align: right;
    background: transparent;
    line-height: 1;
    opacity: 1;
}

/* --- Overlay Buttons: Fix-positioning --- */
#overlay-open, 
#overlay-close {
    position: absolute;
    top: 8px;
    right: 5.3125%;
    width: 40px;
    height: 40px;
}

#overlay-open {
    z-index: 100;
}

#overlay-close {
    z-index: 1000;
   // margin-right: 10px;
}


.overlay-btn {
  span {
    display: none;
  }
  &:before {
    display: block;
  }
}

#overlay-open:before, 
#overlay-open-sticky:before {
  @include px2rem($font-size-overlay-icon);
  @extend .fa;
  @extend .fa-2x;
  @extend .fa-bars; 
}

#overlay-close:before {
     @include px2rem($font-size-overlay-icon);
    @extend .fa; 
    @extend .fa-2x;
    @extend .fa-close;
}

.close-btn-wrap {
  height: 51px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

/* --- Sub Menu Toggle --- */
.menu-item-has-children, 
.page_item_has_children {
  position: relative;
}


/* --- Overlay Widget Area --- */

.inner-offcanvas-wrap {
    width: 100%;
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background: #fff;
    -webkit-transition: left,.35s,ease-in-out;
    -moz-transition: left,.35s,ease-in-out;
    -o-transition: left,.35s,ease-in-out;
    transition: left,.35s,ease-in-out;

  
    .admin-bar & {
	top: 46px;
    }
}

.overlay-show  {
    .inner-offcanvas-wrap {
	left: 0;
    }
}

#offcanvas-wrap {
  padding-top: 20px;
}

#offcanvas-widgets-open {
  margin-bottom: 20px;
  outline: none;
  width: 89.375%;
  background: transparent;
  display: block;
  padding: 14px 0;
  border: 2px solid #2b2b2b;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.sidebar-offcanvas {
  display: none;
  padding: 0 0 30px;
}

.offcanvas-widgets-show .sidebar-offcanvas, 
.mobilewidgets-show .sidebar-offcanvas {
  display: block;
}

/* --- Mobile Search --- */

.mobile-search {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f5f5f6;
  border-bottom: 1px solid #ddd;
  .searchform #s {
    width: 100%;
    line-height: 1.4;
  }
  .submit {
    display: none;
  }
}

/* Off Canvas Media Query */



@media screen and (min-width: $breakpoint-790) {
  .admin-bar {
    .inner-offcanvas-wrap {
      top: 32px;
    }
  }
}

@media screen and (min-width: $breakpoint-1060) {
 /* --- Off Canvas Area --- */
  #overlay-nav .dropdown-toggle {
	display: none !important;
  }
  .overlay-show #overlay-wrap {
	width: 100%;
	/* -- 1010px at 1440px ---*/
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: -20px;
	z-index: 90000000;
	cursor: pointer;
  }
  .inner-offcanvas-wrap {
	position: fixed;
	left: -100%;
	top: 0;
	height: 100%;
	overflow: auto;
	display: block;
	background: #f4f4f4;
	width: 70.13888888888889%;
	/* -- 1010px at 1440px ---*/
	padding-left: 6.25%;
	/* -- 90px at 1440px ---*/
	padding-right: 6.25%;
	/* -- 90px at 1440px ---*/
	z-index: 100000000;
	pointer-events: auto;
	padding-bottom: 100px;
	-webkit-transition: left,.35s,ease-in-out;
	-moz-transition: left,.35s,ease-in-out;
	-o-transition: left,.35s,ease-in-out;
	transition: left,.35s,ease-in-out;
  }
  .offcanvas-widgets-off .inner-offcanvas-wrap {
	width: 40.27777777777778%;
	/* -- 580px at 1440px ---*/
  }
  .overlay-show .inner-offcanvas-wrap {
	left: 0;
  }
  #overlay-open {
	position: absolute;
	top: 34px;
	left: -17px;
	right: auto;
	width: 4.76190476190476%;
	height: 59px;
	text-align: center;
  }
  .close-btn-wrap {
	border: none;
  }
  .mobile-search, 
  #mobile-social {
	display: none;
  }
  #overlay-nav {
	width: 48.19277108433735%;
	/* -- 400px at 1440px ---*/
	float: left;
	border-top: 1px solid #1a1a1a;
  }
  #sidebar-offcanvas {
	width: 48.19277108433735%;
	/* -- 400px at 1440px ---*/
	float: right;
  }
  .offcanvas-widgets-off #overlay-nav {
	width: 100%;
  }
  .close-btn-wrap {
	position: relative;
	height: 160px;
  }
  #overlay-close {
	position: absolute;
	top: 40px;
	left: -17px;
	right: auto;
	width: 59px;
	height: 59px;
	text-align: center;
  }
  #overlay-nav ul {
    margin: 0 0 50px;
    
    li {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #1a1a1a;
	&.menu-item-has-children, 
	&.page_item_has_children {
	    padding-bottom: 0;
	    border-bottom: none;
	}
	a {
	    display: inline-block;
	    padding: 0;
	}
	&.menu-item-has-children a, 
	&.page_item_has_children a {
	    border-bottom: none !important;
	    padding-bottom: 0;
	}
    }
    ul {
      &.sub-menu, 
      &.children {
	    display: block;
	    border-bottom: 1px solid #1a1a1a;
	    padding-top: 15px;
	    padding-bottom: 15px;
      }
      ul {
	    &.sub-menu, 
	    &.children {
		border-bottom: none;
		padding-top: 0;
		padding-bottom: 0;
	    }
      }
      li a {
	    padding-left: 0;
	    padding-right: 0;
      }
    }
  }
  #offcanvas-widgets-open {
	display: none;
  }
  #sidebar-offcanvas {
	display: block !important;
	.widget {
	    padding-left: 0;
	    padding-right: 0;
	}
  }
  .overlay-show .close-btn-wrap {
	position: relative;
	top: 0;
	left: auto;
	right: auto;
	background: transparent;
	height: 158px;
  }
  
}