/*-----------------------------------------------------------------------------------*/
/*  Off Canvas Area
/*-----------------------------------------------------------------------------------*/
/* --- Main Menu Buttons (Off Canvas) --- */
.overlay-btn {
  border: none;
  outline: none;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 9999;
  text-align: right;
  background: transparent;
  line-height: 1;
  opacity: 1;
}

/* --- Overlay Buttons: Fix-positioning --- */
#overlay-open, 
#overlay-close {
  position: absolute;
  top: 5px;
  right: 5.3125%;
  width: 40px;
  height: 40px;
}

#overlay-open {
    z-index: 100;
}
#overlay-open,
#overlay-open-sticky {
    color: $color-text;
}
#overlay-close {
    z-index: 1000;
    color: $color-text;
}

.socialmedia-maincolor {
    #overlay-open,
    #overlay-open-sticky,
    #overlay-close {
        color: $color-main;
    }
    
}
.socialmedia-secondcolor {
    #overlay-open,
    #overlay-open-sticky, 
    #overlay-close {
        color: $color-second;
    }
}


.overlay-btn {
  span {
    display: none;
  }
  &:before {
    display: block;
  }
}

#overlay-open:before, 
#overlay-open-sticky:before {
  @include px2rem($font-size-overlay-icon);
  @extend .fa;
  @extend .fa-2x;
  @extend .fa-bars; 
}

#overlay-close:before {
     @include px2rem($font-size-overlay-icon);
    @extend .fa; 
    @extend .fa-2x;
    @extend .fa-close;
}

.close-btn-wrap {
  height: 51px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

/* --- Sub Menu Toggle --- */
.menu-item-has-children, 
.page_item_has_children {
  position: relative;
}

.screen-reader-text {
  position: absolute;
  left: -1000em;
}

/* --- Overlay Widget Area --- */

.inner-offcanvas-wrap {
  width: 100%;
  display: block;
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  background: #fff;
  -webkit-transition: left,.35s,ease-in-out;
  -moz-transition: left,.35s,ease-in-out;
  -o-transition: left,.35s,ease-in-out;
  transition: left,.35s,ease-in-out;
}

.overlay-show .inner-offcanvas-wrap {
  left: 0;
}

#offcanvas-wrap {
  padding-top: 20px;
}

#offcanvas-widgets-open {
  margin-bottom: 20px;
  outline: none;
  width: 89.375%;
  background: transparent;
  display: block;
  padding: 14px 0;
  border: 2px solid #2b2b2b;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.sidebar-offcanvas {
  display: none;
  padding: 0 0 30px;
}

.offcanvas-widgets-show .sidebar-offcanvas, .mobilewidgets-show .sidebar-offcanvas {
  display: block;
}

/* --- Mobile Search --- */

.mobile-search {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f5f5f6;
  border-bottom: 1px solid #ddd;
  .searchform #s {
    width: 100%;
    line-height: 1.4;
  }
  .submit {
    display: none;
  }
}