/*-----------------------------------------------------------------------------------*/
/*  Pagination + Infinite Scroll
/*-----------------------------------------------------------------------------------*/

.pagination {
  position: relative;
  clear: both;
  padding: 18px 20px;
  border: 2px solid $color-border;
  @include px2rem( $font-size-smaller);

  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-text;
  margin-bottom: 25px;
  
  a {
    color: $color-second;
  }
  .nav-links {
    span,
    a { 
        &.page-numbers  {
            background: $color-page-background;
            color: $color-second;
            overflow: hidden;
            display: inline-block;
            min-width: 25px;
            height: 25px;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            padding-left: 2px;
        
            &:hover,
            &:focus {
              background-color: $color-main;
              color: #fff;

            }
        }
        &.page-numbers.prev, 
        &.page-numbers.next {
            padding: 0 5px;
            border-radius: inherit;
            &:hover, &:focus {
                color:  $color-page-background;
                background: $color-main;
            }
        }
      &.next.page-numbers:focus, 
      &.prev.page-numbers:focus,
      &.next.page-numbers:hover, 
      &.prev.page-numbers:hover {
        text-decoration: none;
      }
    }
    text-align: center;
  }
}

.single-post {
  .navigation {
    clear: both;
    text-align: center;
  }
  .post-navigation {
    overflow: hidden;
    clear: both;
    padding-top: 60px;
  }
}

.single-attachment .post-navigation {
  overflow: hidden;
  clear: both;
  padding-top: 60px;
}

.single-post .post-navigation .nav-previous, 
.pagination .prev,
.single-attachment .nav-previous {
  float: left;
}

.single-post .post-navigation .nav-next, 
.pagination .next, 
.single-attachment .nav-next {
  float: right;
}

.single-post .post-navigation a, 
.single-attachment .post-navigation a {
  position: relative;
  display: block;
  @include px2rem( $font-size-smaller);
  line-height: 1.15;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid $color-text;
}

.single-post .post-navigation {
  .nav-previous a {
    text-align: left;
  }
  .nav-next a {
    text-align: right;
  }
}

#nav-comments {
  padding: 10px 0;
  clear: both;
  overflow: hidden;
  .nav-previous {
    float: right;
  }
}
