

/*-----------------------------------------------------------------------------------*/
/* Seitentypen:  Default Page, Fullwidth / Archives / Search Results / 404
/*-----------------------------------------------------------------------------------*/

.page-template-default #primary .hentry, 
.page-fullwidth #primary .hentry, 
.page-template-no-sidebar #primary .hentry, 
.error404 #primary .page {
  padding: 0;
  border-top: 4px solid #1a1a1a;
}

.page {
  h1.entry-title {
    display: block;
    margin: 0 0 20px;
    padding: 6px 0 20px;
    border-bottom: 1px solid #1a1a1a;
  }
  a.post-edit-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 30px;
    display: inline-block;
  }
  &.has-thumb {
    .content-wrap {
      padding-top: 0;
    }
    .blog-wrap {
      padding-top: 35px;
    }
    .entry-thumbnail img {
      width: 100%;
    }
  }
}



.archive-header .taxonomy-description p {
  margin: 8px 0 0 0;
}

.author .taxonomy-description {
  display: none;
}

.entry-summary p:last-child {
  margin-bottom: 0;
}

.archive .site-content .post {
  clear: both;
  overflow: hidden;
}

.search-results .site-content {
  .post, .page {
    clear: both;
    overflow: hidden;
  }
}

.search-no-results .searchform {
  width: 420px;
}

.error404 .site-content .entry-wrap {
  overflow: hidden;
}

.author h3.author-archive-title {
  margin: 0;
  padding: 80px 0 0 0;
}

.page .edit-link {
  padding-top: 30px;
}
