/*-----------------------------------------------------------------------------------*/
/* Festgelegte Bereiche zur Suche
/*-----------------------------------------------------------------------------------*/
.search-open {
    color: $color-text;
    background: $color-page-background;
    border: 1px solid $color-page-background;
    border-radius: 50%;
        
    :focus,
    :hover {
        background:  $color-text;
        color: $color-page-background;
        border: 1px solid $color-text;
        border-radius: 50%;
    }
    &:before {
	@include px2rem($font-size-search-icons);
	@extend .fa;
	@extend .fa-search;
    }
}

.socialmedia-maincolor .search-open {
    color: $color-main;
    
    :focus,
    :hover {
        background:  $color-main;
        color: $color-page-background;
        border-color: $color-main;
    } 
}
.socialmedia-secondcolor .search-open {
    color: $color-second;
    
    :focus,
    :hover {
        background:  $color-second;
        color: $color-page-background;
        border-color: $color-second;
    }
}

@media screen and (min-width: $breakpoint-1024) {
     /* --- Search Desktop --- */
  #masthead {
	position: relative;
	border-bottom: 1px solid #ddd;
  }
  .search-open, 
  .desktop-search {
	display: block;
  }
  .search-open {
	position: absolute;
	top: 40px;
	left: 9.23611111111111%;
	right: auto;
	width: 4.16666666666667%;
	height: 59px;
	text-align: center;
	border: none;
	text-indent: -99999px;
	z-index: 10000;
	outline: none;
	&:before {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    text-indent: 0;
	   
	    text-align: center;
	    width: 100%;
	    height: 59px;
	    padding-top: 17px;
	}
  }
  .desktop-search {
	position: absolute;
	top: 100%;
	width: 100%;
	opacity: 0;
	height: 0;
	z-index: 10000;
	background: rgba(26, 26, 26, 0.75);
	text-align: center;
	border-top: 1px solid #ddd;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
        
        
         input {
                &.search-field {
                    width: 33%;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    background: none;
                    border-bottom: 1px solid #fff;
                    padding: 9px 0;
                    color: #fff;
                    letter-spacing: 0.5px;
                }
                &[type="submit"] {
                    margin-left: 10px;
                    padding: 8px 20px;
                    background: none;
                    color: #fff;
                    border: 2px solid $color-main;
                    font-size: 15px;
                    font-size: 0.9375rem;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }
                 &[type="submit"]:focus,
                 &[type="submit"]:hover {
                     background: $color-main;
                 }
          }
        .searchform {
            height: 0;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
    }
  
    .searchbar-maincolor .desktop-search {     
        background:  rgba($color-main, 0.9);
        input {
                &.search-field {            
                    border-bottom: 1px solid $color-second;
                     color: #fff;     
                }
                &[type="submit"] {
                    background:  $color-second;;
                    color: #fff;
                    border: 2px solid  $color-second;
                }
                &[type="submit"]:focus,
                &[type="submit"]:hover {
                        background: $color-second;
                        border: 2px solid $color-main;
                }
          }
    }
    
    .searchbar-secondcolor .desktop-search {     
        background: rgba($color-second, 0.75);
        input {
                &.search-field {            
                    border-bottom: 1px solid $color-main;
                     color: #fff;
                    
                }
                &[type="submit"] {
                    background:  $color-main;;
                    color: #fff;
                    border: 2px solid  $color-main;   
                }
                &[type="submit"]:focus,
                &[type="submit"]:hover {
                        background: $color-main;
                        border: 2px solid $color-second;
                }
        }
    }
  
  
  .desktop-search-show .desktop-search {
	position: absolute;
	top: 100%;
	opacity: 1;
	height: 118px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  }
  .desktop-search-show .desktop-search .searchform {
	height: 118px;
	padding-top: 35px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  }
  .desktop-search
   .header-stick {
	#search-open-sticky {
	  z-index: 9999;
	}
	.desktop-search {
	  position: fixed;
	  top: 59px;
	  border-top: none;
	  height: 0;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
	}
	&.desktop-search-show .desktop-search {
	  height: 118px;
	}
   }
}