/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.02.2017, 23:36:56
    Author     : Wiese
*/

// Fonts

$font-family-sans-serif:    'roboto', sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-monospace:     Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", "Courier New",monospace;
$font-family-sitetitle:      'roboto', sans-serif;

$font-family-base:          $font-family-sans-serif;
$font-family-headlines:     $font-family-sans-serif;
$font-family-code:          $font-family-monospace;
$font-family-pre:           "Courier 10 Pitch", Courier, monospace;
$font-family-quotation:     $font-family-serif;
