// Colors
$color-page-background: #fff;
$color-main: #ff8800;
$color-hr:  $color-main;
$color-socialmedia-hover: $color-main;
$color-content-links: $color-main;
$color-text: #2b2b2b;
$bg-grey: #e7e7eb;
$color-border: $bg-grey;

$color-second: #672082;

$color-mainnav-active-border: $color-main;

// Fonts
$font-family-sans-serif:    'DejaWeb','roboto', sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-monospace:     Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", "Courier New",monospace;
$font-family-pre:           "Courier 10 Pitch", Courier, monospace;
$font-family-headlines:     'roboto', 'DejaWeb', sans-serif;

$font-family-base:          $font-family-sans-serif;
$font-family-sitetitle:     $font-family-headlines;
$font-family-code:          $font-family-monospace;
$font-family-quotation:     $font-family-serif;


// Tabellen 
$table-head		    : $bg-grey; // #dedee3;
$table-head-sortable	    : $table-head; // #c9dff0;
$table-head-sortable-active : darken($table-head-sortable, 10%); // #acc8dd;
$table-tr-odd		    : darken($color-page-background, 5%);   
$table-caption		    : $bg-grey;
$table-border		    : $color-border;
$table-td-color		    : lighten($color-text,20%);
$table-td-color-hover	    : $color-text;

