/* 
    Created on : 07.02.2017, 23:36:56
    Author     : xwolf
*/

// Colors

$color-main: #ff8800;
$color-hr:  $color-main;


// Fonts
$font-family-sans-serif:    'roboto', 'DejaWeb', sans-serif;
$font-family-serif:         Georgia, "Times New Roman", Times, serif;
$font-family-monospace:     Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", "Courier New",monospace;
$font-family-sitetitle:      'roboto', sans-serif;

$font-family-base:          $font-family-sans-serif;
$font-family-headlines:     'roboto', 'DejaWeb', sans-serif;
$font-family-code:          $font-family-monospace;
$font-family-pre:           "Courier 10 Pitch", Courier, monospace;
$font-family-quotation:     $font-family-serif;
