/* --- Images  --- */

img {
    max-width: 100%;
    /* Adhere to container width. */
    height: auto;
    /* Make sure images are scaled correctly. */

    &.wp-post-image {
      padding: 0;
    }
    &.img-border {
      border: 5px solid #e2e2e2;
    }
    &.img-border-thin {
      background: #fff;
      padding: 5px;
      border: 1px solid #ededee;
    }
    &.shadow {
        max-width: calc(100% - 10px);
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6); 
    }
    &.noshadow {
        max-width: inherit;
        box-shadow: none;
    }
    
    &.rounded {
        border-radius: 50%;
    }
    &.roundedges {
        border-radius: 10px;
    }
    
    &.alignleft, 
    &.alignright {
      margin-top: 8px;
      margin-bottom: 25px;
    }

  
}

.widget img {
    max-width: 100%;
    height: auto;
}

.wp-caption {
    &.alignnone {
        margin-left: 0;
        margin-right: 0;
    }
    max-width: 100%;
}

img#wpstats {
  display: none;
}

.entry-content {
    .wp-caption-text, 
    p.wp-caption-text {
        margin: 0;
        @include px2rem($font-size-small);
    }
  
    .shadow-images & img {
        max-width: calc(100% - 10px);
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);       
    }
     .shadow-images & img.noshadow {
         max-width: inherit;
         box-shadow: none;
     }
}

.type-attachment .entry-content .entry-caption p {
  margin: 0;
  padding: 8px 10px 30px 2px;
  @include px2rem($font-size-small);
}

.entry-content {
    p.wp-caption-text {
        text-align: right;
        padding: 0 10px 0 0;
    }
    .alignleft p.wp-caption-text {
      text-align: left;
    }
    .alignright p.wp-caption-text {
      text-align: right;
      margin-right: 6px;
    }
}

figure {
    margin: 10px 0 20px 0;
    figcaption { 
        text-align: right;
        padding: 0 10px 0 0;
        margin: 0;
        @include px2rem($font-size-small);
        max-width: 100%;
    }
    &.entry-thumbnail {
        figcaption {
            text-align: right;
        }   
    }
    .shadow-images & img {
        max-width: calc(100% - 10px);
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.6);
    }
}

 .single-post {
     .entry-thumbnail {
        @media screen and (min-width:$breakpoint-sm) {
            padding-bottom: 30px;
        }
     }
 }