/*-----------------------------------------------------------------------------------*/
/* Comments
/*-----------------------------------------------------------------------------------*/

#comments-toggle {
  position: relative;
  display: block;
  width: 100%;
  padding: 18px 20px 18px 60px;
  border-width: 2px;
  border-style: solid;
  background: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  outline: none;
  &:before {
    @extend .fa;
    @extend .fa-comment-o; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 58px;
    text-align: center;
    padding-top: 16px;
    background: none;
  }
}

.comments-show #comments-toggle:before {
    @extend .fa-commenting-o;
}

.toggledcomments .comments-content {
  display: none;
}

.comments-show .comments-content {
  display: block;
}

#primary .hentry {
  .entry-comments {
    display: block;
    padding-bottom: 8px;
  }
}

.entry-comments a {
    position: relative;
    padding-left: 18px;
    &:before {
	@extend .fa;
	@extend .fa-comment-o;
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
    }
}

#comments {
    ul li, 
    ol li {
	list-style-position: outside;
    }

    position: relative;
    padding: 20px 0 0 0;
    
    ul.children {
	margin: 0;
	padding: 0;
    }

    li {
	&.comment, 
	&.pingback {
	  overflow: hidden;
	  margin: 0 0 16px;
	  padding: 0;
	}
	&.comment:last-of-type, 
	&.pingback:last-of-type {
	  margin: 0;
	}
	&.comment ul.children {
	  margin: 16px 0 0;
	}
    }
    .children .comment:last-child {
      margin: 0;
    }
    h3.comments-title {
	padding: 27px 0 0 0;
	border-top: 1px solid #1a1a1a;
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
    }
    
    .comment-details {
	position: relative;
	margin: 0 90px 0 0;
	padding: 0;
    }
    
    .comment-avatar {
	margin: 0;
	padding: 0;
	line-height: 0;
	float: left;

	img.avatar {
	    width: 40px;
	    height: 40px;
	    margin: 0;
	    -moz-border-radius: 50px;
	    -webkit-border-radius: 50px;
	    border-radius: 50px;
	}
    }
    .comment-author {
          @include px2rem($font-size-base);
          font-weight: 600;
          span {
            display: none;
          }
    }
    .comment-text {
	overflow: hidden;
	padding: 10px 30px 10px 0;
	p {
	    margin: 0;
	    padding: 0 0 15px;
	    &:last-child {
	      padding: 0;
	    }
	}
    }
    .comment-meta {
	overflow: hidden;
	list-style: none;
	li {
	      display: inline;
	}
    }
    .comment-reply {
      position: relative;
      padding: 0;
      a {
	    padding-left: 20px;
	    &:before {
	      @extend .fa;
	      @extend .fa-commenting-o;
	      display: block;

	      position: absolute;
	      top: 4px;
	      left: 0;
	      text-align: left;
	    }
        }
    }
    p.comment-awaiting-moderation {
      display: inline-block;
    }
    ol li.pingback p {
      margin: 0;
    }  
    .disclaimer {
        @extend .box;
        @extend .maincolor-box;
        margin-bottom: 10px; 
    }    
     #respond {
      margin: 0;
      padding-top: 30px;
      overflow: hidden;
      text-align: left;
    }
    li.comment #respond {
      padding-top: 20px;
    }
    ol.commentlist #respond {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
    #respond {
      p {
        &.comment-notes {
          margin: 0;
          padding: 0;
        }
        &.logged-in-as {
          padding: 3px 0 0 0;
          margin-bottom: 0;
        }
      }
    } 
}

ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 40px 0 0;
  li {
    display: block;
    margin: 0;
    padding: 0;
  }
  .comment-text li {
    padding: 0 0 0 18px;
  }
}

/* --- Comment Content --- */

.comment-wrap {
  padding: 0 0 16px 60px;
}

ol.commentlist {
  li.comment:last-of-type .comment-wrap {
    padding-bottom: 0;
  }
  ul.children li.comment:last-of-type .comment-wrap {
    padding-bottom: 16px;
  }
}


.bypostauthor {}

.comment-edit:before {
  content: ',';
  display: inline;
}

.site-content {
  .nopassword, p.nocomments {
    position: relative;
    margin: 15px 0 0;
    padding: 0;
    font-weight: 600;
  }
}

#respond a#cancel-comment-reply-link {
  margin: 21px 0 0 0;
  float: right;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
}

#commentform p {
  &.comment-form-author, 
  &.comment-form-email, 
  &.comment-form-url, 
  &.comment-form-comment {
    margin: 0;
    padding: 20px 0 0;
  }
  &.comment-form-author, 
  &.comment-form-email, 
  &.comment-form-url, 
  &.comment-form-comment {
    float: none;
    clear: both;
    width: 100%;
  }
}

.contact-form div {
  float: none;
  clear: both;
  width: 100%;
}

#commentform {
  p {
    &.comment-form-comment {
      line-height: 0;
    }
    label, 
    span, 
    &.form-allowed-tags {
      display: none;
    }
  }
  input {
    &#author, 
    &#email, 
    &#url {
      display: block;
      width: 100%;
      margin: 0;
      line-height: normal;
      -webkit-appearance: none;
      outline-color: transparent;
      outline-style: none;
    }
  }
  textarea#comment {
    width: 100%;
    margin: 0;
    line-height: normal;
    -webkit-appearance: none;
    outline-color: transparent;
    outline-style: none;
  }
  input#submit {
    margin: 20px 0;
    width: 100%;
    font-weight: 600;
  }
  p.form-submit {
    margin: 0;
    clear: both;
  }
}

#respond small {
  font-size: 100%;
}

.comment-notes {
  display: none;
}


.externcomments a.standard-btn {
    width: 100%;
}


.single-post {
    .entry-comments-title {
        @extend .screen-reader-text;
    }
}
@media screen and (min-width: $breakpoint-sm) {
    .single-post {
	.entry-comments a {
	    padding-left: 22px;
	 }
    } 
    ol.commentlist {
	padding: 40px 0 10px;
    }

    #comments li.comment ul.children {
	margin-left: 60px;
	ul.children ul.children {
	  margin-left: 0;
	}
    }
}

