/*-----------------------------------------------------------------------------------*/
/* Image Galleries 
/*-----------------------------------------------------------------------------------*/

.gallery {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  
   .gallery-item {
	float: left;
	margin-top: 0;
	width: 33.3%;
	a {
	  border-bottom: none;
	}
	.gallery-caption {
	  margin: 0;
	  padding: 8px 2px 30px;
	  @include px2rem($font-size-small);
	  
	}
	img {
	    width: 100%;
	    height: auto;
	}
      }
    dl, dt {
      margin: 0;
    }
    br + br {
      display: none;
    }
    
}
.shadow-images .entry-content .gallery img {
    width: 100%;
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.8);
}


.tiled-gallery {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  margin-bottom: 30px !important;
}


.gallery-columns-2 .gallery-item {
  width: 50%;
  &:nth-of-type(odd) {
    padding-right: 1.4%;
  }
}

.gallery-columns-3 .gallery-item:nth-of-type(3n+1) {
  padding-right: 1.4%;
}

.gallery-columns-2 .gallery-item:nth-of-type(even) {
  padding-left: 1.4%;
}

.gallery-columns-3 .gallery-item {
  &:nth-of-type(3n+3) {
    padding-left: 1.4%;
  }
  &:nth-of-type(3n+2) {
    padding-left: 0.7%;
    padding-right: 0.7%;
  }
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6%;
}

.gallery-columns-7 .gallery-item {
  width: 14%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11%;
}

.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}

.gallery-columns-4 .attachment-thumbnail, 
.gallery-columns-5 .attachment-thumbnail, 
.gallery-columns-6 .attachment-thumbnail {
  max-width: 93%;
  height: auto;
}

.gallery-columns-7 .attachment-thumbnail, 
.gallery-columns-8 .attachment-thumbnail, 
.gallery-columns-9 .attachment-thumbnail {
  max-width: 94%;
  height: auto;
}


.single .gallery .gallery-item .gallery-caption {
  display: block;
}
