/*-----------------------------------------------------------------------------------*/
/*	General Styles
/*-----------------------------------------------------------------------------------*/

.front-section-title, 
.social-front-title, 
p.text-big, .widget_mc4wp_form_widget p, 
.jetpack_subscription_widget #subscribe-text p, 
.single-post .entry-content p.intro {
    @include px2rem($font-size-entrytitle);  
}

.section-about-column-one p {
    @include px2rem($font-size-bigtext);  
}

.entry-content p {
    &.pull-left, 
    &.pull-right {
	  @include px2rem($font-size-bigtext); 
    }
    @include px2rem($font-size-base); 
}


.entry-header {
    p.intro {
	@include px2rem($font-size-base);
    }
}

p.site-title {
    font-weight: bold;
    padding-right: 55px;
    margin: 0;   
    @include px2rem($font-size-sitetitle);
}

#overlay-nav ul li a, 
#desktop-navigation ul li a, 
.comments-toggle {
    @include px2rem($font-size-smaller);
}


.section-about-column-one p cite, 
.footer-feature-btn, 
.page a.post-edit-link {
    @include px2rem($font-size-smaller);
}

.site-content {
    p.nocomments, 
    div.wpcf7 p input.wpcf7-submit {
	@include px2rem($font-size-smaller);
    }
}

.entry-summary, 
.footer-menu ul li, 
#overlay-nav ul ul li a, 
#footer-social span {
   @include px2rem($font-size-small);
   hypens: auto;
}

.widget_rss ul li {
  .rssSummary, 
  cite {
      @include px2rem($font-size-small);
  }
}

.contact-form label span {
    @include px2rem($font-size-small);
}

#site-info, 
.front-section a.all-posts-link, 
.single-post .canonical-link, 
.null-instagram-feed .clear {
  font-size: 12px;
  font-size: 0.75rem;
}


#overlay-nav ul li a, 
#desktop-navigation ul li a, 
.site-content p.nocomments, 
.page-links {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* --- Links + Colors --- */

.comments-show #comments-toggle,
#comments-toggle:focus,
#comments-toggle:hover {
    border: 2px solid #0c6ca6;
}

#primary #infinite-handle span:focus, 
#front-section-three a.all-posts-link:focus, 
.footer-feature-btn:focus, 
#offcanvas-widgets-open:focus,
#primary #infinite-handle span:hover, 
#front-section-three a.all-posts-link:hover, 
.footer-feature-btn:hover, 
#offcanvas-widgets-open:hover, 
.offcanvas-widgets-show #offcanvas-widgets-open {
    border: 2px solid #0c6ca6;
}



/* --- Typography --- */

p {
  margin-bottom: 30px;
  
  .entry-summary & {
     @include hyphens(auto);
  }
}

.entry-content p:last-child,
.team-text p:last-child {
  margin-bottom: 0;
}

b, strong {
  font-weight: bold;
}

dfn, em, i {
  font-style: italic;
}

s, strike, del {
  text-decoration: line-through;
}

address {
  margin: 0 0 30px;
}

pre {
  max-width: 100%;
  word-wrap: break-word;
  margin-bottom: 30px;
  padding: 15px;
  overflow: auto;
}

code, kbd, tt, var, pre {
    font-family: $font-family-monospace;
     @include px2rem($font-size-smaller);
}

abbr, acronym {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  cursor: help;
}

mark, ins {
  text-decoration: none;
}

sup, sub {
  position: relative;
  vertical-align: baseline;
  height: 0;
  font-size: 75%;
  line-height: 0;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

dt {
  padding-bottom: 4px;
  font-weight: bold;
}

dd {
  margin: 0 0 30px;
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0 0 30px;
  }
}

@media screen and (min-width: $breakpoint-sm) {

  .front-section-title,  
  .social-front-title  {
	@include px2rem($font-size-h1-sm);     
  }  
  
  .entry-header p.intro, 
  .section-about-column-one p, 
  p.text-big,
  .single-post .entry-content p.intro {
	@include px2rem($font-size-entrytitle-sm);  
  }

  .entry-content p {
	&.pull-left, 
	&.pull-right {
	      @include px2rem($font-size-bigtext-sm); 
	}
	@include px2rem($font-size-base-sm); 
    }

  .entry-content {
    ol, ul, dl {
	@include px2rem($font-size-base-sm); 
    }
  }
  .big-thumb .entry-header p.intro, 
  .section-one-column-one .type-post .entry-summary, 
  .section-three-column-one .type-post .entry-summary, 
  p.text-small {
	@include px2rem($font-size-base-sm); 
  }

  address {
      @include px2rem($font-size-base-sm); 
  }
  
  .entry-summary {
	@include px2rem($font-size-base); 
  }


  .null-instagram-feed .clear {
      @include px2rem($font-size-smaller); 
  }
  .section-fourcolumn-postwrap .type-post .entry-summary, 
  .section-sixcolumn-postwrap .type-post .entry-summary {
      @include px2rem($font-size-smaller); 
  }
}