/* 
    Ueberschriften
*/


h1, h2, h3, h4, h5 {
    font-familiy: $font-family-headlines;
}

h1 {
    .single-post .entry-header &.entry-title,
    .entry-header &.entry-title,
    .page &.entry-title,
    article &,
    .entry-content & {
        border-bottom: 7px;
        border-color: $color-main;
        border-style:  solid;
        text-transform: uppercase;
        margin-bottom: 50px;
        display: table-cell;
        padding-bottom: 1px;
  
        & + * {
          margin-top: 20px;  
        }
    }
    .single-post .entry-header &::after.entry-title,
    .entry-header &::after.entry-title,
    .page &::after.entry-title,
    article &::after,
    .entry-content &::after {
        content: " ";
        display: table-cell;
        width: 100%;
    }
}




