/* --- Images  --- */

img {
    max-width: 100%;
    /* Adhere to container width. */
    height: auto;
    /* Make sure images are scaled correctly. */

    &.wp-post-image {
      padding: 0;
    }
    &.img-border {
      border: 5px solid #e2e2e2;
    }
    &.img-border-thin {
      background: #fff;
      padding: 5px;
      border: 1px solid #ededee;
    }

    &.alignleft, 
    &.alignright {
      margin-top: 8px;
      margin-bottom: 25px;
    }

  
}

.widget img {
  max-width: 100%;
  height: auto;
}

.wp-caption {
  &.alignnone {
    margin: 0;
  }
  max-width: 100%;
  a {
    line-height: 0;
    display: block;
  }
}

img#wpstats {
  display: none;
}

.entry-content {
  .wp-caption-text, 
  p.wp-caption-text {
    margin: 0;
    padding: 8px 2px 30px;
    @include px2rem($font-size-small);
  }
}

.type-attachment .entry-content .entry-caption p {
  margin: 0;
  padding: 8px 2px 30px;
  @include px2rem($font-size-small);
}

.entry-content {
  .alignleft p.wp-caption-text {
    text-align: left;
  }
  .alignright p.wp-caption-text {
    text-align: right;
    margin-right: 6px;
  }
  
  
}

figure {
    figcaption { 
            margin: 0;
            padding: 8px 2px 30px;
            @include px2rem($font-size-small);
            max-width: 100%;
            
        &.alignnone {
            margin: 0;
        }
        
        a {
            line-height: 0;
            display: block;
        }  
        
       
    }
    &.entry-thumbnail {
        figcaption {
            text-align: right;
            padding: 0 6px 0 0;
        }   
    }
}

 .single-post {
     .entry-thumbnail {
        @media screen and (min-width:$breakpoint-sm) {
            padding-bottom: 30px;
        }
     }
 }