/*
Links and colors
*/


.entry-content a, 
.comment-text a, 
.author-bio a, 
.textwidget a {
  text-decoration: underline;
}

.entry-content a:hover, 
.comment-text a:hover, 
.author-bio a:hover {
  color: #0c6ca6;
}

.page-links a {
  text-decoration: none;
}


a {
  color: $color-text;
  text-decoration: none;
}

.entry-header h2.entry-title {
  color: $color-text;
  text-decoration: none;
  a {
    color: $color-text;
    text-decoration: none;
  }
}



.entry-content a, 
.comment-text a, 
.featured-slider button.slick-arrow:hover::after,
.front-section a.all-posts-link:hover,
#overlay-close:hover,
.widget-area .widget ul li a:hover, 
#sidebar-offcanvas .widget a:hover,
.textwidget a:hover, #overlay-nav a:hover,
.author-links a:hover, 
.single-post .post-navigation a:hover,
.single-attachment .post-navigation a:hover,
.author-bio a,
.single-post .hentry .entry-meta a:hover {
  color: $color-content-links; // #51a8dd;
}


#secondary h2.widget-title, 
#sidebar-page h2.widget-title, 
.entry-meta a, 
.entry-cats a {
  color: $color-text;
  text-decoration: none;
}

#desktop-navigation ul li a:hove {
     color: #51a8dd;
}
.entry-header {
  a:hover, 
  h2.entry-title a:hover {
    color: #51a8dd; 
  }
}

.blog .entry-meta a:hover {
  color: $color-content-links; // #51a8dd;
}

#desktop-navigation ul li.menu-item-has-children a:hover::after {
  border-top-color: $color-content-links; //  #51a8dd;
}

.single-post .post-navigation a:hover,
.single-attachment .post-navigation a:hover {
  border-bottom: 2px solid $color-content-links; //  #51a8dd;
}

.featured-slider .entry-cats a, 
.section-one-column-one .entry-cats a, 
.section-three-column-one .entry-cats a, 
#front-section-four .entry-cats a, 
.single-post .entry-cats a, 
.blog #primary .hentry.has-post-thumbnail:nth-child(4n+1) .entry-cats a {
  background: $color-cats-background; 
}

#desktop-navigation {
  .sub-menu li a:hover, .children li a:hover {
    background: $color-content-links; // #51a8dd;
  }
}

.single-post .entry-header p.intro, 
.entry-meta, 
.entry-cats, 
.entry-summary, 
.front-section-title, 
.social-front-title, 
.widget_mc4wp_form_widget p, 
.jetpack_subscription_widget #subscribe-text p, 
.section-about-column-one p {
  color: $color-text;
}


.uku-neo .format-video .entry-thumbnail span.video-icon {
  &:before, &:after {
    background: $color-content-links; // #51a8dd;
  }
}

.entry-content a:hover, 
.comment-text a:hover, 
.author-bio a:hover {
  color: #0c6ca6;
}

.blog #primary .hentry.has-post-thumbnail:nth-child(4n+1) .entry-cats a:hover,
.featured-slider .entry-cats a:hover, .section-one-column-one .entry-cats a:hover, 
.section-three-column-one .entry-cats a:hover, #front-section-four .entry-cats a:hover, 
.single-post .entry-cats a:hover, 
.footer-feature-btn:hover, 
.comments-show #comments-toggle, 
#comments-toggle:hover {
   background: $color-cats-background-hover; 
}



#primary #infinite-handle span:hover, 
#front-section-three a.all-posts-link:hover, 
#offcanvas-widgets-open:hover,
.offcanvas-widgets-show #offcanvas-widgets-open {
  background: #0c6ca6;
}

.comments-show #comments-toggle,
#comments-toggle:hover {
  border: 2px solid #0c6ca6;
  color: #fff;
}


#primary #infinite-handle span:hover, #front-section-three a.all-posts-link:hover, 
#offcanvas-widgets-open:hover, 
.offcanvas-widgets-show #offcanvas-widgets-open {
  border: 2px solid #0c6ca6;
  color: #fff;
}

.desktop-search input.search-field {
  &:active, &:focus {
    border-bottom: 1px solid $color-content-links; // #51a8dd;
  }
}

#comments .comment-reply a, 
#respond a#cancel-comment-reply-link {
  color: #999;
}

#comments #respond p {
  &.comment-notes a, 
  &.logged-in-as a {
    color: #999;
  }
}

#nav-comments a {
  color: #999;
}

#comments .comment-meta {
  color: #999;
  a {
    color: #999;
  }
}

.single-post .entry-tags a, 
p.wp-caption-text, 
.contact-form label span, 
.gallery .gallery-item .gallery-caption {
  color: #999;
}

#colophon {
  .footer-menu ul a {
    color: rgba(255, 255, 255, 0.5);
  }
  #site-info {
    color: rgba(255, 255, 255, 0.5);
    a {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

#footer-social span {
  color: rgba(255, 255, 255, 0.5);
}

#colophon {
  .footer-menu ul a:hover, #site-info a:hover {
    color: rgba(255, 255, 255, 1);
  }
  a {
    color: #fff;
  }
}