/*
Links and colors
*/

a {
  color: $color-text;
  text-decoration: none;
  &:focus,
  &:hover {
       color: $color-linkhover;
  }
}

.entry-content a, 
.comment-text a, 
.author-bio a, 
.textwidget a {
  text-decoration: underline;
}

.entry-header h2.entry-title {
  color: $color-text;
  text-decoration: none;
  a {
    color: $color-text;
    text-decoration: none;
  }
}



.entry-content a, 
.comment-text a, 
.author-bio a,
.featured-slider button.slick-arrow:focus::after,
.front-section a.all-posts-link:focus,
#overlay-close:focus,
.widget-area .widget ul li a:focus, 
#sidebar-offcanvas .widget a:focus,
.textwidget a:focus, 
#overlay-nav a:focus,
.author-links a:focus, 
.single-post .post-navigation a:focus,
.single-attachment .post-navigation a:focus,
.single-post .hentry .entry-meta a:focus,
.featured-slider button.slick-arrow:hover::after,
.front-section a.all-posts-link:hover,
#overlay-close:hover,
.widget-area .widget ul li a:hover, 
#sidebar-offcanvas .widget a:hover,
.textwidget a:hover, 
#overlay-nav a:hover,
.author-links a:hover, 
.single-post .post-navigation a:hover,
.single-attachment .post-navigation a:hover,
.single-post .hentry .entry-meta a:hover {
  color: $color-content-links; // #51a8dd;
}


#secondary h2.widget-title, 
#sidebar-page h2.widget-title  {
  color: $color-text;
  text-decoration: none;
}

#desktop-navigation ul li a:focus,
#desktop-navigation ul li a:hover {
     color:  $color-linkhover; // #51a8dd;
}
.entry-header {
  a:focus,  
  a:hover,
  h2.entry-title a:focus,
  h2.entry-title a:hover {
    color:  $color-linkhover; // #51a8dd; 
  }
}
.blog .entry-meta a:focus,
.blog .entry-meta a:hover {
  color: $color-content-links; // #51a8dd;
}
#desktop-navigation ul li.menu-item-has-children a:focus::after,
#desktop-navigation ul li.menu-item-has-children a:hover::after {
  border-top-color: $color-content-links; //  #51a8dd;
}
.single-post .post-navigation a:focus,
.single-attachment .post-navigation a:focus,
.single-post .post-navigation a:hover,
.single-attachment .post-navigation a:hover {
  border-bottom: 2px solid $color-content-links; //  #51a8dd;
}



#desktop-navigation {
    .sub-menu li a:focus, 
    .children li a:focus, 
    .sub-menu li a:hover, 
    .children li a:hover {
	background: $color-content-links; // #51a8dd;
    }
}

.single-post .entry-header p.intro, 
.entry-summary, 
.front-section-title, 
.social-front-title, 
.widget_mc4wp_form_widget p, 
.jetpack_subscription_widget #subscribe-text p, 
.section-about-column-one p {
  color: $color-text;
}



.footer-feature-btn:focus, 
.footer-feature-btn:hover, 
.comments-show #comments-toggle, 
#comments-toggle:focus,
#comments-toggle:hover {
   background: $color-cats-background-hover; 
}


#primary #infinite-handle span:focus, 
#front-section-three a.all-posts-link:focus, 
#offcanvas-widgets-open:focus,
#primary #infinite-handle span:hover, 
#front-section-three a.all-posts-link:hover, 
#offcanvas-widgets-open:hover,
.offcanvas-widgets-show #offcanvas-widgets-open {
  background: $color-linkhover;
  border: 2px solid $color-linkhover;
  color: #fff;
}

.comments-show #comments-toggle,
#comments-toggle:focus,
#comments-toggle:hover {
  border: 2px solid $color-linkhover;
  color: #fff;
}


.desktop-search input.search-field {
  &:active, 
  &:focus {
    border-bottom: 1px solid $color-content-links; // #51a8dd;
  }
}

#comments .comment-reply a, 
#respond a#cancel-comment-reply-link {
  color: #999;
}

#comments #respond p {
  &.comment-notes a, 
  &.logged-in-as a {
    color: #999;
  }
}

#nav-comments a {
  color: #999;
}

#comments .comment-meta {
  color: #999;
  a {
    color: #999;
  }
}

.single-post .entry-tags a, 
p.wp-caption-text, 
.contact-form label span, 
.gallery .gallery-item .gallery-caption {
  color: #999;
}

.wp-caption-text {
    a {
        line-height: 1.6em !important;
      }
}

#colophon {
  .footer-menu ul a {
    color: rgba(255, 255, 255, 0.5);
  }
  #site-info {
    color: rgba(255, 255, 255, 0.5);
    a {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

#footer-social span {
  color: rgba(255, 255, 255, 0.5);
}

#colophon {
  .footer-menu ul a:hover, #site-info a:hover {
    color: rgba(255, 255, 255, 1);
  }
  a {
    color: #fff;
  }
}