/*-----------------------------------------------------------------------------------*/
/*Definitions for pagination
/*-----------------------------------------------------------------------------------*/

.page-links {
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 20px;
    
    
    .post-page-numbers {
        padding: 4px;
        text-decoration: none;

        &.current {
             color: $color-second;
        }
        
        a {
                .number {
                   @include px2rem($font-size-small);
                }
        }
        
        a:hover {
            background-color: #ddd;
        } 
    }
    
     
}

