/*-----------------------------------------------------------------------------------*/
/*  Blockquotes and cites
/*-----------------------------------------------------------------------------------*/
blockquote {
    display:block;
    background: #fff;
    padding: 20px 20px 20px 45px;
    margin: 10px 20px 30px;
    position: relative;
    font-family: $font-family-quotation;
    border-left: 15px solid $color-main;
    border-right: 2px solid $color-main;

    a {
        text-decoration: none;
        cursor: pointer;
        padding: 0 3px;
    }
    a:focus,
    a:hover {
            color: $color-second;
    }
    em{
        font-style: italic;
    }
    &.secondcolor {
         border-left: 15px solid $color-second;
         border-right: 2px solid $color-second;
         a {
             color: $color-second;   
         }
         a:focus,
         a:hover {
            color: $color-main;
         }
    }
    p {
        position: relative;
        font-weight: 600;
        @include px2rem($font-size-blockquote);  	
    }
    cite {
        display: block;
        padding-top: 10px;
        padding-right: 30px;
        font-style: normal;
        text-align: right;
        @include px2rem($font-size-blockquote-cite);
        
        &::before {
            content: "\2013";
        }
    }
    
    .inner-offcanvas-wrap & {
        background: inherit;
        margin: 10px 5px 30px 20px;
        font-style: italic;
        border: 0;
       
        &::before {
            content: "\201C"; // Unicode for Left Double Quote
            font-family: Georgia, serif;
            font-size: 60px;
            font-weight: bold;
            color: lighten($color-text,20%); //lighten($color-text,50%); 

            position: absolute;
            left: 2px;
            top: -5px;
        }
        &::after{
            // Reset to make sure
            content: "";
        }
       
       
    }
}

blockquote.quotesign {
    padding: 20px 20px 20px 55px;
    
    &::before {
        content: "\201C"; // Unicode for Left Double Quote
        font-family: Georgia, serif;
        font-size: 80px;
        font-weight: bold;
        color: $color-main; //lighten($color-text,50%); 

        position: absolute;
        left: 10px;
        top: 0px;
    }
    &::after{
        // Reset to make sure
        content: "";
    }
    &.secondcolor::before {
         color: $color-second;
    }
}
    
#comments blockquote {
    border-left: none;
    border-right: none;
    p {
        position: relative;
        font-weight: 600;
    } 
   cite {
        display: block;
        padding-top: 10px;
        font-style: normal;
        @include px2rem($font-size-base);  	   
    }
}


@media screen and (min-width: $breakpoint-sm) {
    .entry-content blockquote {
	p {
	    @include px2rem($font-size-blockquote-sm);  	    
	} 
	cite {
	    @include px2rem($font-size-blockquote-cite-sm);  	  
	}
    } 
}