/*-----------------------------------------------------------------------------------*/
/*  Blockquotes and cites
/*-----------------------------------------------------------------------------------*/
blockquote {
    display:block;
    padding: 20px 20px 20px 45px;
    margin: 10px 20px 30px;
    position: relative;
    font-family: $font-family-quotation;
    border-left-style: solid;
    border-left-width: 15px;
    border-right-style: solid;
    border-right-width: 2px;
    font-style: italic;
    @include hyphens(manual);
    
    a {
        text-decoration: none;
        cursor: pointer;
        padding: 0 3px;
    }

    em{
        font-style: italic;
    }

    p {
        position: relative;
        font-weight: 600;
        @include px2rem($font-size-blockquote);  	
    }
    cite {
        display: block;
        padding-top: 10px;
        padding-right: 30px;
        font-style: normal;
        font-weight: normal;
        text-align: right;
        @include px2rem($font-size-blockquote-cite);
        
        &::before {
            content: "\2013 ";
        }
    }
    &.quotesign {
        padding: 20px 20px 20px 60px;

        &::before {
            content: "\201C"; // Unicode for Left Double Quote
            font-family: Georgia, serif;
            font-size: 70px;
            font-weight: bold;
            position: absolute;
            left: 10px;
            top: 0px;
        }
        &::after{
            // Reset to make sure
            content: "";
        }
    }
    
    &.smallborder {
        border-left-width: 2px;
        border-right-width: 2px;
    }
    &.boxborder {
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-top-style: solid;
        border-bottom-style: solid;
    }
    &.small {
        border-left-width: 2px;
        border-right-width: 2px;       
        font-style: normal;
        padding: 10px 10px 10px 25px;
        p {
            font-weight: normal;
            @include px2rem($font-size-base);  	
        }
        cite {
            @include px2rem($font-size-base);
        }
        
    }
    &.borderless {
        border: none;
    }
    
    
    .inner-offcanvas-wrap & {
        background: inherit;
        margin: 10px 5px 30px 20px;
      
        border: 0;
       
        &::before {
            content: "\201C"; // Unicode for Left Double Quote
            font-family: Georgia, serif;
            font-size: 60px;
            font-weight: bold;
            color: lighten($color-text,20%); //lighten($color-text,50%); 

            position: absolute;
            left: 2px;
            top: -5px;
        }
        &::after{
            // Reset to make sure
            content: "";
        }
       
       
    }
}

blockquote
    
#comments blockquote {
    border-left: none;
    border-right: none;
    p {
        position: relative;
        font-weight: 600;
    } 
   cite {
        display: block;
        padding-top: 10px;
        font-style: normal;
        @include px2rem($font-size-base);  	   
    }
}


@media screen and (min-width: $breakpoint-sm) {
    .entry-content blockquote:not(.small) {
	p {
	    @include px2rem($font-size-blockquote-sm);  	    
	} 
	cite {
	    @include px2rem($font-size-blockquote-cite-sm);  	  
	}
    } 
}