/*
    Social Media Icons
*/

.social-nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  li {
    border-bottom: medium none;
    display: inline-block;
   //  margin: 0 -2px;
    a {
       background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: #036;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding: 5px 0;
        text-decoration: none; 
        
        
      &::before {
         @extend .fa;
      }

     
      &[href*="flickr.com"]::before {
          @extend .fa-flickr;
      }
      &[href*="plus.google.com"]::before {
         @extend .fa-google-plus-square;
      }
      &[href*="github.com"]::before {
        @extend .fa-github-square;
      }
      &[href*="instagram.com"]::before {
        @extend .fa-instagram;
      }
      &[href*="linkedin.com"]::before {
         @extend .fa-linkedin;
      }
      &[href*="pinterest.com"]::before {
        @extend .fa-pinterest;
      }
      &[href*="reddit.com"]::before {
          @extend .fa-reddit;
      }
     
      &[href*="skype.com"]::before, &[href*="skype:"]::before {
        @extend .fa-skype;
      }
      &[href*="stumbleupon.com"]::before {
       @extend .fa-stumbleupon;
      }
      &[href*="tumblr.com"]::before {
        @extend .fa-tumblr-square;
      }
      &[href*="twitter.com"]::before {
        @extend .fa-twitter;
      }
      &[href*="vimeo.com"]::before {
        @extend .fa-vimeo;
      }
      &[href*="youtube.com"]::before {
        @extend .fa-youtube-square;
      }
      &[href*="spotify.com"]::before {
         @extend .fa-spotify;
      }
      &[href*="wordpress.org"]::before, &[href*="wordpress.com"]::before {
        @extend .fa-wordpress;
      }
      &[href*="feed"]::before {
        @extend .fa-rss;
      }
      &[href*="mailto"]::before {
         @extend .fa-envelope-o;
      }
    }
     a[href*="facebook.com"]::before {
        @extend .fa-facebook;
      }
  }
}
/*
#social ul.social li a::before {
    background: #036 none repeat scroll 0 0;
    border-radius: 12px;
    color: #e9edf2;
    font-size: 16px;
    height: 21px;
    line-height: 24px;
    margin-right: 6px;
    padding-top: 5px;
    text-align: center;
    width: 24px;
}
#social ul.social li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #036;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 5px 0;
    text-decoration: none;
}
*/

@media screen and (min-width: 66.250em) {
	.header-social {
		display: block;
		position: absolute;
		right: 0;
		top: 40px;
		height: 59px;
                ul {
                    li {
                        a {
                            padding: 0;
                            width: 45px;
                            height: 59px;

                            &::before {
                                    text-align: center;
                                    width: 45px;
                                    height: 59px;
                                    padding-top: 20px;
                            }
                        }
                    }
                }
	}

        #header-social-sticky {
		top: 0;
		right: 20px;
	}
        .header-stick #header-social-sticky {
		top: 0;
		z-index: 9999;
	}
}