//--------------------------------------------------------------
// Backend Styles
//--------------------------------------------------------------

// https://jsfiddle.net/8uycrv12/    für Customizer der radioboxen

.customize-control-colorlist-radio {
    input[type="radio"] {
        display: none;
    }


    label {
        display: inline-block;
        position: relative;
        margin: 5px;
        color: #000;
    }

    label span {
        background: #fff;
        width: 75px;
        height: 25px;
        display: inline-block;
        border: 2px solid transparent;
        transition: all .2s linear;
        padding: 1px 2px;
    }


    /* Hover-Effekt */
    label:hover span {
        border: 2px solid red;
    }


    input[type="checkbox"]:checked + span,
    input[type="radio"]:checked + span{
        border: 2px solid #000;
    }
}